body {
	margin: 0;
	padding: 0;
	height: 2000px;
	min-width: 768px;
}

#social {
	height: 300px;
	width: 300px;
	margin: 20px;
	position: relative;
}

.social-image {
	width: 100%;
	height: 100%;
	border-radius: calc(100vh / 2);
	border: 5px solid #4a8db8;
}

.social-icons {
	width: 48px;
	height: 48px;
	display: block;
	background: url(../img/sprites.png) no-repeat;
}

.pinterest {
	background-position: 0 -50px;
}

.pinterest:hover {
	background-position: 0 0;
}

.tumblr {
	background-position: -50px -50px;
}

.tumblr:hover {
	background-position: -50px 0;
}

.twitter {
	background-position: -100px -50px;
}

.twitter:hover {
	background-position: -100px 0;
}

.facebook {
	background-position: -150px -50px;
}

.facebook:hover {
	background-position: -150px 0;
}

.container {
	height: 1500px;
	width: 50%;
	position: absolute;
	top: 200px;
	left: 25%;
}

.container div {
	height: 100%;
	width: 100%;
	position: absolute;
}

.container div:nth-child(1) {
	background: #0487b3;
}

.container div:nth-child(2) {
	background: #3a4c8a;
	right: 10px;
	bottom: 10px;
}

.container div:nth-child(3) {
	background: #d8454b;
	right: 20px;
	bottom: 20px;
}

.info {
	height: 130px;
	width: 25%;
	padding: 35px;
	position: fixed;
	right: 0px;
	bottom: 50px;
	background: rgba(93, 93, 93, 0.83);
}

.info-logo {
	width: 130px;
	height: 130px;
	display: inline-block;
	background: #f7e360;
}

.info-contact {
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	color: white;
	font-size: 20px;
}