html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial';

    box-sizing: border-box;
    width: 796px;
    height: 100%;
    margin: 10px 0 0 102px;
}

header {
    box-sizing: border-box;
    height: 100px;

    border: 1px solid black;
    background: #ccc;
}

header img {
    display: inline-block;

    padding: 9px 0 0 9px;
}

.header-wrapper {
    display: inline-block;

    margin: 8px 0 0 4px;

    vertical-align: top;

    color: #6f6f6f;
}

header h1 {
    font-size: 24px;
    font-weight: 100;

    margin: 0 0 -5px 0;
}

header span {
    font-size: 14px;
}

nav {
    font-size: 14px;

    background: #ccc;
}

nav ul {
    margin: 11px 10px 0 12px;
    padding: 0;

    background: #383838;
}

nav li {
    list-style: none;
}

nav a {
    line-height: 33.3px;

    display: block;

    box-sizing: border-box;
    height: 33.3px;
    padding: 2px 15px 0 15px;

    transition: background-color .35s ease-out;
    text-decoration: none;

    color: white;
}

nav a:hover {
    text-decoration: underline;

    color: #383838;
    background: white;
}

nav a:active {
    text-decoration: none;

    color: #383838;
    background: white;
}

.navigation-horizontal ul {
    margin: 0;
    padding: 3px 0 2px;
}

.navigation-horizontal li {
    display: inline-block;
}

.navigation-horizontal a {
    line-height: 25px;

    height: 25px;
    padding: 0 5px 0 14px;
}

.container {
    overflow: hidden;

    min-height: 487px;
    margin-top: 10px;
}

.container nav {
    float: left;

    width: 224px;
}

main {
    font-size: 13px;

    float: right;

    box-sizing: border-box;
    width: calc(100% - 224px);
    padding-left: 10px;
}

.container nav,
main {
    margin-bottom: -10000px;
    padding-bottom: 10000px;
}

footer {
    height: 25px;

    background: #383838;
}

section h2,
section h3,
section p {
    margin: 5px 0 0;
}
