html, body {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	min-width: 768px;
}

header {
	background: #ccc;
	height: 100px;
}

header h1 {
	margin: 0;
}

nav {
	background: #ccc;
	font-size: 20px;
}

nav ul {
	background: #383838;
	margin: 15px;
	padding: 0;
}

nav li {
	list-style: none;
}

nav a {
	display: block;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
	color: white;
	text-decoration: none;
	transition: background-color 0.35s ease-out;
}

nav a:hover {
	background: white;
	color: #383838;
	text-decoration: underline;
}

nav a:active {
	background: white;
	color: #383838;
	text-decoration: none;
}

.navigation-horizontal ul {
	padding: 2px 0 0;
	margin: 0;
}

.navigation-horizontal li {
	display: inline-block;
}

.container {
	min-height: calc(100vh - 100px - 52px - 10px - 50px); /* header nav container.margin footer */
	margin-top: 10px;
	overflow: hidden;
}

.container nav {
	float: left;
	width: 	300px;
}

main {
	float: right;
	width: calc(100% - 300px);
	padding-left: 10px;
	box-sizing: border-box;
}

.container nav, main {
	padding-bottom: 10000px;
	margin-bottom: -10000px;
}

footer {
	height: 50px;
	background: #383838;
}