body {
    font-family: 'Helvetica', 'Arial', sans-serif;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    padding: 0;
}

article,
aside,
footer,
header,
nav {
    padding: 10px;
}

header {
    height: 100px;

    background: #ccc8ba;
}

.container {
    display: flex;

    flex: 1;
}

nav {
    width: 20%;

    background: #ebe9e3;
}

main {
    width: 65%;

    background: #e7e3d4;
}

article {
    overflow: auto;

    background: #f4f1ed;
}

aside {
    width: 15%;

    background: #f4f1ed;
}

footer {
    height: 100px;

    background: #ccc8ba;
}

.tile {
    box-sizing: border-box;
    width: calc(100% - 40px);
    margin: 20px;
    padding: 10px;

    border-radius: 15px;
}

.tile h3 {
    text-align: center;
}

.tile img {
    float: left;

    margin: 0 15px 10px 0;
}
