body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	height: 100px;
    background: #ccc8ba;
}

.container {
	flex: 1;
	display: flex;
}

nav {
	width: 25%;
    background: #ebe9e3;
}

main {
	width: 50%;
    background: #e7e3d4;
}

aside {
	width: 25%;
    background: #f4f1ed;
}

footer {
	height: 100px;
    background: #ccc8ba;
}
