body {
	margin: 0;
	padding: 0;
	height: 2000px;
	min-width: 768px;
}

#social {
	height: 300px;
	width: 300px;
	margin: 20px;
	border-radius: 150px;
	background: #4a8db8;
}

#container {
	height: 800px;
	width: 50%;
	position: absolute;
	top: 200px;
	left: 25%;
	background: #d8454b;
}

#info {
	height: 130px;
	width: 25%;
	padding: 35px;
	position: fixed;
	right: 0px;
	bottom: 50px;
	background: rgba(93,93,93,0.7);
}

.info-logo {
	width: 130px;
	height: 130px;
	display: inline-block;
	background: #f7e360;
}

.info-contact {
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	color: white;
	font-size: 20px;
}